.visibale_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    right: 20px; 
    top: 2px;
}

.input{
    margin-left: 15px;
    justify-self: center;
    padding: 0 10px;
    border: none;
    outline: none;
    max-width: calc(100% - 100px);
    caret-color: transparent;
    width: 400px;
    height: 50px;
    border: 1px solid #dadada;
    box-shadow: rgba(0, 0, 0, 10%) 0px 4px 6px -1px, rgba(0, 0, 0, 6%) 0px 2px 4px -1px;

    &:focus {
        caret-color: black;
        border: 2px solid #cacaca;
    }
}

.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
}