.chat, .mobile_chat {
    display: flex;
    align-items: center;
    justify-items: stretch;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    width: 225px;
    cursor: pointer;
    caret-color: transparent;
    text-decoration: none;
    color: black;    
}

.mobile_chat {
    width: 90%;
    padding: 10px;
}

.top_row, .bottom_row, .mobile_top_row, .mobile_bottom_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile_top_row, .mobile_bottom_row {
    width: 100%;
}

.top_row {
    margin-left: 12px;
}

.bottom_row {
    margin-top: 15px;
    margin-left: 10px;
}

.username, .mobile_username {
    font-weight: bold;
}

.time, .mobile_time {
    color: rgb(184, 184, 184);
    font-size: 14px;
    margin: 0;
}

.mobile_time {
    font-size: 18px;
}

.last_message, .username{
    width: 90px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 17px;
}

.mobile_last_message, .mobile_username {
    margin-left: 5px;
    max-width: 80%;
    width: auto;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 20.3px;
}

.last_message{
    width: 110px;
    color: rgb(184, 184, 184);
}

.mobile_last_message {
    color: rgb(184, 184, 184);
}

.active {
    background-color: rgb(114, 164, 223);
}

.mobile_text {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mobile_unread, .mobile_time, .mobile_last_message, .mobile_username {
        font-size: 50px;
    }
}
