.chat, .mobile_chat {
    display: flex;
    align-items: center;
    justify-items: stretch;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    width: 225px;
    cursor: pointer;
    caret-color: transparent;
}

.mobile_chat {
    width: calc(100% - 25px);
    box-sizing: border-box;
    padding: 10px;
}

.top_row, .bottom_row, .mobile_top_row, .mobile_bottom_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobile_top_row, .mobile_bottom_row {
    width: 100%;
}

.top_row {
    margin-left: 12px;
}

.bottom_row {
    margin-top: 15px;
    margin-left: 10px;
}

.username, .mobile_username {
    font-weight: bold;
}

.time, .mobile_time {
    color: rgb(184, 184, 184);
    font-size: 14px;
    margin: 0;
}

.mobile_time {
    font-size: 18px;
}

.last_message, .username{
    width: 90px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 17px;
}

.mobile_last_message, .mobile_username {
    margin-left: 5px;
    max-width: 80%;
    width: auto;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 20.3px;
}

.last_message{
    width: 110px;
    color: rgb(184, 184, 184);
}

.mobile_last_message {
    color: rgb(184, 184, 184);
}

.unread, .mobile_unread {
    padding: 5px 10px;
    border-radius: 35%;
    background-color: rgb(60, 131, 212);
    color: rgb(243, 243, 243);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mobile_last_message, .mobile_username {
        max-width: 345px;
    }

    .mobile_unread, .mobile_time, .mobile_last_message, .mobile_username {
        font-size: 50px;
    }
}

@media (min-width: 820px) and (max-width: 1023px) {
    .mobile_last_message, .mobile_username {
        max-width: 400px;
    }
}

@media (min-width: 1024px){
    .mobile_last_message{
        max-width: 600px;
    }
}

@media (max-width: 430px) {
    .mobile_last_message, .mobile_username {
        font-size: 25px;
        max-width: 230px;
    }
}

@media (max-width: 400px) {
    .mobile_last_message {
        max-width: 210px;
    }
}

@media (max-width: 375px) {
    .mobile_last_message {
        max-width: 180px;
    }
}

