.message_container, .message_reverse_container {
    position: relative;
    display: flex;
    max-width: 70vw; 
    width: fit-content; 
    cursor: pointer;
    margin: 0 0 10px 14px;
    padding: 10px 30px 20px;
    background-color: #91f2ff;
    position: relative;
    border-radius: 20px;
    caret-color: transparent;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.message_tail {
    position: absolute;
    bottom: 3px;
    left: -12px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #91f2ff; 
    border-bottom: 0;
    border-radius: 5px;
    transform: rotate(180deg);
}

.message_time, .message_reverse_time {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 10px;
    color: #424242;
}

.message, .message_reverse {
    caret-color: transparent;
    max-width: 350px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message_reverse_container {
    margin-right: 30px;
    
}

.message_reverse_time {
    left: 10px;
}

.message_reverse_tail {
    position: absolute;
    bottom: 3px;
    right: -12px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #91f2ff;
    border-bottom: 0;
    transform: rotate(180deg);
    border-radius: 5px;
}